.top {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
  color: black;
}

.box {
}

.logo {}

.box {
  margin: 2px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.contentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputArea {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 10px;
  z-index: 3;
}

.locationInput {
  width: 100%;
  height: 100%;
}

.controlArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

.controlArea button {
  cursor: pointer;
  border: none;
  background-color: white;
  width: 5vw;
  height: 100vh;
  z-index: 2;
}

.controlArea button:hover {
  background-color: lightgray;
}

.controlArea button svg {
  height: 25px;
}

.weatherDisplay {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 90vw;
  z-index: 1;
}

.weatherBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.locationInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.locationInput input {
  font-size: 1.17rem;
  border: none;
  height: 25px;
}

.locationInput svg {
  height: 25px;
}

.timeInput {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeInput select {
  appearance: none;
  --webkit-appearance: none;
  --moz-appearance: none;
  --webkit-text-fill-color: black;
  border: none;
  background-color: transparent;
  width: auto;
}

.dayOfWeekInput {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.dayOfWeekInput svg {
  margin-right: 5px;
  height: 25px;
}

.weatherPresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherError {
  display: flex;
  width: 100%;
  margin-top: 20vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textWeather {
  display: inline-block;
}

.dateElement {
  justify-content: flex-start;
  display: inline-block;
}

.weatherContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.weatherLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherGraphContainer {
}

.weatherGraphBox {
}

.graphSettingsButton {
  padding: 1rem;
  border: none;
  background-color: transparent;
}

.graphSettingsButton:hover {
  cursor: pointer;
  background-color: lightgray;
}

.weatherInfo {
}

.weatherInfo > * {
}

@media (max-width: 600px) {
  .inputArea {
    flex-direction: column;
  }

  .weatherDisplay {
    flex-direction: column;
    width: calc(90vw - 20px);
  }

  .controlArea button {
    width: 40px;
  }

  .weatherGraphContainer {
    width: calc(90vw - 20px);
  }

  .weatherGraphBox {
    width: calc(90vw - 20px);
  }
}