.top {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
  color: black;
}

.box {
}

.logo {}

.box {
  margin: 2px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.contentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.inputArea {
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  z-index: 3;
}

.locationInput {
    width: 100%;
    height: 100%;
}

.controlArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

.controlArea button {
  height: 100vh;
  z-index: 2;
}

.weatherDisplay {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border: 1px solid black;
  z-index: 1;
}

.weatherBox {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.locationInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.locationInput input {
}

.locationInput svg {
  height: 25px;
}

.timeInput {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeInput select {
  border: none;
  background-color: white;
  width: auto;
}

.dayOfWeekInput {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.dayOfWeekInput svg {
  height: 25px;
}

.weatherPresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWeather {
  display: inline-block;
}

.dateElement {
  justify-content: flex-start;
  display: inline-block;
}

.weatherContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.weatherLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherInfo {
}

.weatherInfo > * {
}

@media (max-width: 600px) {
  .inputArea {
    flex-direction: column;
  }

  .weatherDisplay {
    flex-direction: column;
  }
}